{% extends 'base.html' %}

{% block titulo %}Página inicial{% endblock %}
{% block cabecalho %}Utilidades para o g1{% endblock %}
{% block conteudo %}
<p><b>Escolha uma opção:</b></p>
  <p><a href="/downdetector">Gerar texto rápido para site fora do ar</a><br /></p>
  <p><a href="/compartilhar">Gerar link de compartilhamento no WhatsApp e Telegram</a><br /></p>

  <br />
  <p><i>Esse site foi criado por Alessandro Feitosa Jr. Bugs, dúvidas, sugestões: alessandro.junior@g.globo</i></p>
{% endblock %}
